{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>競馬　馬券組み合わせ</title>
    <link type="text/css" rel="stylesheet" href="{% static 'combination/css/bootstrap.min.css' %}" />

</head>
<body>
    <main>
    <section>
        <formfield>        
        <form action="{% url 'index' %}" method='post'>
            {% csrf_token %}
        <table >
            {{ticket_type_form}}
        </table>

        <table class="table table-sm table-bordered">
            <td class="table-success">馬番</td>
            {% for num in number%}
            <td align="center" class="table-success">
            {{num}}
            </td>
            {% endfor %}
            <tr>
                <td>{{first_horse.first_horse_num.label}}</td>
            {% for radiobutton in first_horse.first_horse_num %}
                <td align="center">{{radiobutton}}</td>
            {% endfor%}
            </tr>
            <tr>
                <td>{{second_horse.second_horse_num.label}}</td>
            {% for radiobutton in second_horse.second_horse_num %}
                <td align="center">{{radiobutton}}</td>
            {% endfor%}
            </tr>
            <tr>
                <td>{{third_horse.third_horse_num.label}}</td>
            {% for radiobutton in third_horse.third_horse_num %}
                <td align="center">{{radiobutton}}</td>
            {% endfor%}
            </tr>
        </table>

        <table>
            <tr>
            <td><button type='submit' class='btn btn-primary my-2'>計算</button></td>
            <td><a href="{% url "index" %}" class='btn btn-warning my-2'>リセット</a></td>
            </form>
            </tr>
        </table>
        </from>
        </formfield>
    </section>

    <!-- 結果の出力 -->
    <section>
    <h2>{{sum}}</h2>
    <ul>
    {% for combi in result%}
    <li>{{combi}}</li>
    {% endfor %}
    </ul>
    </section>
    </main>
<body>
</html>